@import "../../../styles.scss";

.custom-form-field {
  margin-bottom: -1.25em;
  display: grid;
}

.custom-nav {
  background: linear-gradient(140deg, $primary-color 40%, rgba(255 255 255) 60%);
  margin-bottom: 2rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);
}

.logo {
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
  background-image: url(https://img.wallpapersafari.com/desktop/1280/1024/8/28/o7UHie.jpg);
  background-clip: text;
  color: transparent;
  background-size: cover;
  -webkit-background-clip: text;
}
