<nav class="navbar navbar-expand-md custom-nav">
  <div class="container">
    <a class="navbar-brand" routerLink="[/movies]">
      <img src="assets/logo.png" height="30">
    </a>

    <button mat-icon-button class="navbar-toggler" id="btnCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="clickBtn()">
      <mat-icon>{{expanded}}</mat-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      </ul>
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Avatar" (input)="updateSearch($event)">
        <mat-icon matSuffix fontIcon="search"></mat-icon>
      </mat-form-field>
    </div>
  </div>
</nav>
