.row>* {
  padding: calc(var(--bs-gutter-x) * .5);
}

.card {
  border: none;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card > img {
  border-radius: inherit;
  height: inherit;
  transition: all 0.15s linear;
}

.card:hover > img {
  filter: brightness(80%);
}

.card > h2 {
  position: absolute;
  width: inherit;
  top: 8%;
  font-weight: bold;
  color: #FFF;
  padding: 15px 20px;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.2) 60%);
  transition: all 0.15s linear;
}

.card:hover h2 {
  padding-left: 25px;
  padding-top: 20px;
}

li {
  cursor: pointer;
}
