/* You can add global styles to this file, and also import other style files */
$primary-color: rgb(201 168 255);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Verdana", sans-serif;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// #region Spinner
.lds-ripple {
  @extend .full-center;
  width: 20rem;
  height: 20rem;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid $primary-color;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.lds-ripple div:nth-child(3) {
  animation-delay: -1s;
}

@keyframes lds-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 18rem;
    height: 18rem;
    opacity: 0;
  }
}

// #endregion
